.Card{
    width: 150px;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    color: #666;
    font-size: .8rem;
}

.Card .icon {
    font-size: 2rem;
    
}
