.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 10px; */
    /* justify-content: space-around; */
    align-items: center;
    /* padding: 85px 50px ; */
}

.title-1{
    color:orange;
    font-size: 32px;
}

.title-2{
    font-size: 32px;
}

p{
    font-size: 25px;
}

.imagen{
    padding: 105px 40px 105px 65px;
    object-fit: cover;
    width: 90%;
}

.textos{
    margin-left: 8%;
}


@media screen and (min-width: 991px) and (max-width: 1450px){
    .textos{
        margin-left: 8%;
    }

    .title-1{
        color:orange;
        font-size: 24px;
    }
    
    .title-2{
        font-size: 24px;
    }
    
    p{
        font-size: 16px;
    }

}


@media screen and (max-width: 990px){
    .textos{
        margin-left: 6%;
    }

    .title-1{
        color:orange;
        font-size: 15px;
    }
    
    .title-2{
        font-size: 15px;
    }
    
    p{
        font-size: 9px;
    }

    .infotext{
        font-size: 11px;
    }

    .imagen{
        padding: 105px 40px 105px 20px;
    }
}

@media screen and (max-width: 630px){
    .textos{
        margin-left: 12%;
    }

    .title-1{
        color:orange;
        font-size: 9px;
    }
    
    .title-2{
        font-size: 9px;
    }

    .infotext{
        font-size: 7px;
    }
    

    .imagen{
        padding: 65px 40px 65px 20px;
    }

    .contenedor .btn--medium{
        font-size: 9px;
        width: 90px;
        height: 25px;
        
    }

}