.learnBtnMain3{
    font-size: clamp(0.8rem, 4vw, 1.2rem);
    padding: 0.8rem 2rem;
    color: #000;
    background: #ffb347;
    background: linear-gradient(to right, #ffcc33, #ffb347);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.learnBtnMain3:hover{
    color: #fff;
    transition: 250ms ease-in;
}

@media screen and (min-width: 425px) {
    .learnBtnMain3 {
        width: 250px;
    }
}

@media screen and (min-width: 575px) {
    .learnBtnMain3 {
        width: 350px;
    }
}
