.logo-image{
    width: 75px;
    height: 75px;
}

.logo-contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo-contain:hover{
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .logo-contain{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}