.contenedor{
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.title-1{
    color:orange;
}

.imagen{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

@media screen and (min-width: 768px){
    .contenedor{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    } 

    .textos {
        width: 45%;
    }

    .imagen {
        width: 45%;
    }
}