.title-products {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.title-products snap{
    color: orange;
}

.product-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.card-contain title{
    font-size: 15px;
}


