.NavbarItems{
    background: linear-gradient(90deg, rgb(110,94,254)0%, rgba(73,63,252,1) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; 
}

.navbar-dropdown-nosotros{
    display: none;
}

.buttonSearch{
    font-size: 24px;
}

.form_show:focus{
    outline: transparent;
}

.form_show{
    border: none;
    border-radius: 10px;
    height: 30px;
    padding-left: 10px;
}

.rounded-button {
    width: 60px;
    margin-right: 30px;
    height: 60px;
    background: transparent;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content:space-evenly;
    cursor: pointer;
    border-radius: 50%;
    border: 2px;
    border-color: tomato;
    text-decoration: none;
    transition: all 0.2s;
}

.rounded-button:hover {
    background: #6d76f7;
}



.navbar-logo {
    color: #ffff;
    justify-content: start;
    margin-left: 50px;
    cursor: pointer;
}

.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: left;
    width: 70vw;
    justify-content: start;
    margin-right: 2rem;
}

.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    cursor: pointer;

    
}

.nav-links:hover{
    background-color: #6d76f7;
    border-radius: 4px;
    /* transition: all 0.2s ease-out;   */
}

.fa-bars{
    color: #ffff;
}

.nav-links-mobile{
    display: none;
}

.menu-icon{
    display: none;
}

@media screen and (max-width: 575px){
    .form_show{
        display: none;
    }
    
}


@media screen and (max-width: 960px){
    .NavbarItems{
        position: relative;
        margin: auto;
    }
    .i{
        display: none;
    }
    
    .rounded-button{
        display: flex;
        justify-content: space-around;
        margin: 0;
    }
    
    .nav-menu{
        display: table;
        flex-direction: column;
        position: absolute;
        text-align: center;
        top: 60px;
        left: -100%;
        opacity: 100%;
        transition: all 0.5s ease;
    }

    .nav-menu li svg{
        display: none;
    }
    
    .nav-menu.active{
        background-color: #6668f4;
        padding: 0;
        left: 0;
        opacity: 1;
        width: 100%;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links{
        justify-content: center;
        align-items: center;
        display: block;
    }
    
    .nav-links:hover{
        background-color: #6aa6f7;
        border-radius: 4px;
        text-decoration: none;
        color: wheat; 
    }
    
    .navbar-logo{
        margin-top: -12px;
        position: absolute;
        align-items: center;
        justify-content: center;
        left: -30px;
        transform: translate(25%, 50%);
    }
    
    .menu-icon{
        display: block;
        position: absolute;
        top: 3.5px;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    
    .fa-times{
        color: #ffff;
        font-size: 2rem;
    }
    
    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 100%;
        background: #4ad9e4;
        text-decoration: none;
        color: white;
        font-size: 1.5rem;    
    }
    
    .nav-links-mobile:hover{
        background-color: white;
        color: #6568f4;    
    }
    
}

@media screen and (min-width: 768px) {
    .form_show {
        width: 40%;
    }
}

@media screen and (min-width: 961px) {
    .nav-menu li {
        position: relative;
        text-align: center;
    }

    .nav-menu li ul {
        position: absolute;
        width: 200px;
        top: 51px;
        left: -40px;
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease-in-out;
    }

    .nav-menu li:hover > ul {
        visibility: visible;
        opacity: 1;
        transition: all .3s ease-in-out;
    }

    .nav-menu li ul li {
        padding: 10px;
        text-align: center;
        background-color: #6668f4;
    }

    .nav-menu li ul li a {
        color: #fff;
    }

    .nav-menu li ul li:hover {
        cursor: pointer;
        background-color: rgb(140, 134, 247)
    }
}

@media screen and (max-width: 960px) {
    .nav-menu li ul {
        display: none;
    }
}


