.cart-item{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.buttonDel{
    width: 75px;
    height: 35px;
    font-size: 10px;
    text-align: center;
    align-items: center;
    margin: 5px;
    padding: 0;
}

.nameText{
    font-size: 10px;
    margin: 15px 0px 15px;
}

.priceText{
    font-size: 10px;
    margin: 15px 0px 15px;
}