.contenedor-principal {
    width: 55%; /* toma el ancho del window */
    position: relative;
    overflow: hidden; /* evitamos que se rompa el window */
    margin: 0 auto 30px;
}

.contenedor-principal .contenedor-slideshow {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 0 20px;
    /* SLIDE */
}

.contenedor-principal .controles {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    pointer-events: none; /* permite definir a que elemento le damos prioridad sobre el pointer */
}

.contenedor-principal .controles button {
    border: none;
    border-radius: 2rem;
    background-color: var(--primary);
    cursor: pointer;
    justify-content: center;
    outline: none;
    pointer-events: all; /* al quitar el pointer-event del contenedor .controles debemos agregar pointer event al button para que funcionen */
    width: 35px;
    height: 35px;
    transition: all .3s ease-in-out;
}

.contenedor-principal .controles button:hover > span {
    color: rgba(0, 0, 0, .5);
    transition: all .3s ease-in-out;
}

.contenedor-principal .controles button span {
    font-size: 2rem;
    color: rgba(0, 0, 0, .8);
}

.instagram-cuenta{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-size: 20px;
    padding: 0 20px;
}

.cuenta {
    font-size: 20px;
    color: orange;
}

.instagram-cuenta i{
    color: orange;
}

@media screen and (min-width: 504px) {
    .instagram-cuenta{
        flex-direction: row;
    }
}

@media screen and (max-width: 768px) {
    .instagram-cuenta{
        font-size: 15px;
    }
}

@media screen and (min-width: 1450px) {
    .contenedor-principal {
        width: 55%; /* toma el ancho del window */
        
    }
}
